*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: black;
  background-color: #0f0e17;
  font: sans-serif;
}

body {
  width: 500px;
  margin: 0%;
}

h1 {
  font-size: 1rem;
  padding-bottom: .8em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #a7a9be;
  color: black;
}

