*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: black;
  background-color: #0f0e17;
  font: sans-serif;
}

body {
  width: 500px;
  margin: 0%;
}

h1 {
  font-size: 1rem;
  padding-bottom: .8em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #9c9c9c;
  color: black;
}

h2 {
  font-size: 1rem;
  padding-bottom: .8em;
  font-weight: bold;
}

p {
  font-size: .6rem;
  padding-bottom: .5em;
  font-weight: lighter;
  
}

a {
  font-size: .4em;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}

.content {
  display: grid;
  grid-template: repeat(3, 240px) / repeat(2, 240px);
  margin-bottom: 150px;
  background-color: #4f4f52;
}

.text1, .text3 {
  padding: 1.5rem 1.5rem 0 1rem;
}

.text2 {
  padding: 1.5rem 1rem 0 1.5rem;
}

.image1 {
  background-color: orange;
  background-image: url("https://imgs.search.brave.com/pZAYOsZNEmHVfZ9bOD_NlFXrpVR-qabUUJmo8wkAdok/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzE0LzYyLzAxLzQ4/LzM2MF9GXzE0NjIw/MTQ4NjFfQU9HUGNR/SDRobU10aHVnQ0la/REdXNEEyeWNIeUx3/a3MuanBn");
  background-size: cover;
  background-position: center;
}

.image2 {
  background-color: orange;
  background-image: url("https://imgs.search.brave.com/xsK30WKlolji23SE5lS1nxDMwgCnZ-pQIpCAGQDuJuc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdC5k/ZXBvc2l0cGhvdG9z/LmNvbS8xOTY4MzUz/LzI1NTgvaS80NTAv/ZGVwb3NpdHBob3Rv/c18yNTU4OTk2MS1z/dG9jay1waG90by1w/YWNrYWdlLXNvcnRp/bmcuanBn");
  background-size: cover;
  background-position: center;
}

.image3 {
  background-color: orange;
  background-image: url("https://imgs.search.brave.com/Clbsc2wfg0qHuyafZ1cWc-2KMFfM3aGP9SsgsOL0ehc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9idWxs/ZXRwcm9vZnNob3Bz/LmNvbS91cGxvYWRz/L2FsbGltZy8yMDIz/MDkwOS8zLTIzMFo5/MTEwNTA5Mjk1Lmpw/Zw");
  background-size: cover;
  background-position: center;
}